@import url('./reset.css'); /* Сброс стилей браузеров */

h2 {
    font-size: 30px;
    font-weight: 600;
    color: #002265;
    font-family:Arial, sans-serif;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Шапочка сайтика */
.header {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.nav-menu {
    flex-grow: 1;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 20px;
}

.nav-menu ul li {
    margin: 0;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 8px;
}


.nav-menu ul li:last-child {
    margin-left: 20px;
}

.nav-menu ul li:last-child a {
    background-color: #608AF5;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    display: inline-block; 
}
.nav-menu ul li:last-child a:hover {
    background-color: #2b4380;
}
/* Раздел Hi! I'm */

/* Раздел Additional passions */

/* Раздел My portfolio */
.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 0px;
}
img {
    width: 100%;
}

/* Раздел Contact me */
.contact_me .container{
    gap: 24px;
}

.contact_me img {
    height: 100px;
    width: 100px;
}

.contact_me .card {
    background-color: #608AF5;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
}

.wrapper {
    max-width: 1141px;
    margin: 0px auto;
}